body{
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
a{
    color: white;
    text-decoration: none;
}
.top-background{
    width: 100%;
    height: 100%;
    background-image: url(images/baking-bread.jpg);
    background-attachment: fixed;
    background-position: 0px;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
    position: fixed;
}
.logo{
    margin-left: 70px;
}
.nav{
    margin-right: 70px;
}
.short-info-section{
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.about-us{
    width: 100%;
    height: 500px;
    background-color: #f7eded;
}