body{
    margin: 0;
    background-color: #f7eded;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
a{
    color: white;
    text-decoration: none;
}
.top-background{
    width: 100%;
    height: 100%;
    background-image: url(images/baking-bread.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
    position: fixed;
}
.logo{
    margin-left: 70px;
}
.nav{
    margin-right: 70px;
}
.short-info-section{
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.about-us{
    max-width: 1300px;
    height: 500px;
    background-color: #f7eded;
    display: flex;
    margin: auto;
}
.about-us-image{
    margin: auto;
    width: 50%;
}
#knead{
    width: 89%;
}
.about-us-text{
    margin: auto;
    text-align: center;
    width: 50%;
}
.short-info{
    padding: 0 65px;
}
.products{
    max-width: 1300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.product{
    width: 400px;
    margin: 10px;
}
#product-photo-home{
    width: 100%;
    height: 100%;
}